@model SportComplexViewModel

@{
	Layout = "_SidebarLayout";
}

<div class="row">
	<h3>Sportcomplexen</h3>
	<div class="row">
		<div class="col-lg-2">
			<form asp-action="AddSportComplex" method="get">
				<button class="blue-button " type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</button>
			</form>
		</div>
		<div class="col-lg-10">
			<input type="text" id="SearchInput" onkeyup="search()" placeholder="Zoeken" class="form ">
		</div>
	</div>
	@if (Model.Complexes.Any())
	{
		<div page-model="@Model.PagingViewModel" page-action="SportComplex" page-classes-enabled="true"
			 page-class="btn" page-class-normal="btn-default"
			 page-class-selected="btn-primary" class="btn-group pull-left pagination">
		</div>
		<table class="table table-sm table-striped sportcomplex" id="SearchTable">

			<thead>
				<tr>
					<th>Naam</th>
					<th>Locatie</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var s in Model.Complexes)
				{
					<div class="modal fade" id="confirm-delete_@s.SportComplexId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">

								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Bevestiging verwijderen van @s.Name</h4>
								</div>

								<div class="modal-body">
									<p>U probeert @s.Name uit de lijst van sportcomplexen te verwijderen.</p>
									<p>Wilt u doorgaan met het verwijderen van @s.Name?</p>
									<p class="debug-url"></p>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-primary confirm" data-dismiss="modal">Annuleer</button>
									<a class="btn btn-danger btn-ok confirm" href="@Url.Action("DeleteSportComplex", "SportComplex", s)">Verwijder @s.Name</a>
								</div>
							</div>
						</div>
					</div>
					<tr>
						<td class="main-table">@s.Name</td>
						<td class="main-table">@s.Address.Street @s.Address.HouseNumber</td>
						<td class="main-table"><button class="blue-button" onclick="location.href = '@Url.Action("Hall", "SportComplex", new SportHallenViewModel {SportComplexId = s.SportComplexId})'">HALLEN</button></td>
						<td class="main-table"><button onclick="location.href = '@Url.Action("UpdateSportComplex", "SportComplex", new {id = s.SportComplexId})'" method="get" class="blue-button">WIJZIGEN</button></td>
						<td class="main-table"><a href="#" data-toggle="modal" data-target="#confirm-delete_@s.SportComplexId"><i class="fa fa-trash fa-3x icon-blue" aria-hidden="true"></i></a></td>
					</tr>
				}
			</tbody>
		</table>

	}
	else
	{
		<table class="table table-sm table-striped sportcomplex">
			<tbody>
				<tr><td>Er is geen sportcomplex toegevoegd, om een sportcomplex toe te voegen klik op de nieuw knop.</td></tr>
			</tbody>
		</table>
	}
</div>