@model OrderViewModel

@{
	Layout = "_AdminLayout";
}

<div class="row">
	<h3>Order</h3>
	<div class="row">
		<div class="col-lg-2">
			<form method="get" asp-action="AddOrder"><button class="blue-button" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</button></form>
		</div>
		<div class="col-lg-10">
			<input type="text" id="SearchInput" onkeyup="search()" placeholder="Zoeken" class="form ">
		</div>
	</div>
	<table class="table table-sm table-striped order" id="SearchTable">

		@if (Model.Orders.Any())
            {

			<thead>
				<tr>
					<th>Beschrijving</th>
					<th>Prijs</th>
					<th>Hal</th>
					<th>Sportcomplex</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
				<tbody>
					@foreach (var o in Model.Orders)
					{
						<div class="modal fade" id="confirm-delete_@o.OrderId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">

									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Bevestiging verwijderen van @o.Description</h4>
									</div>

									<div class="modal-body">
										<p>U probeert @o.Description uit de lijst van inkoop te verwijderen.</p>
										<p>Wilt u doorgaan met het verwijderen van @o.Description?</p>
										<p class="debug-url"></p>
									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-primary confirm" data-dismiss="modal">Annuleer</button>
										<a class="btn btn-danger btn-ok confirm" href="@Url.Action("DeleteOrder", "Order", o)" data-target="#confirm-delete">Verwijder @o.Description</a>
									</div>
								</div>
							</div>
						</div>
						<tr>
							<td class="main-table">@o.Description</td>
							<td class="main-table">&euro;@o.Cost</td>
							<td class="main-table">@o.Hall.Name</td>
							<td class="main-table">@o.Hall.SportComplex.Name</td>
							<td class="main-table">
								<button method="get" class="blue-button" type="submit" onclick="location.href = '@Url.Action("UpdateOrder", "Order", o)'">WIJZIGEN</button>
							</td>
							<td class="main-table"><a href="#" data-toggle="modal" data-target="#confirm-delete_@o.OrderId"><i class="fa fa-trash fa-3x icon-blue" aria-hidden="true"></i></a></td>
						</tr>

					}
				</tbody>
            }
            else
            {
			<tbody>
				<tr><td>Er zijn nog geen orders toegevoegd, om een order toe te voegen, klik op de nieuw knop.</td></tr>
			</tbody>

		}
	</table>
</div>