@using SportUnite.Domain.Models
@model IEnumerable<Event>

@{
	Layout = "_SidebarLayout";
}

<div class="row">
	<h3>Evenementen</h3>
	<div class="row">
		<div class="col-lg-2">
			<form asp-action="AddEvent" method="get"><button class="blue-button" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Nieuw</button></form>
		</div>
		<div class="col-lg-10">
			<input type="text" id="SearchInput" onkeyup="search()" placeholder="Zoeken" class="form ">
		</div>
	</div>
	<table class="table table-sm table-striped sporthallen" id="SearchTable">
		@if (Model.Any())
		{
			<thead>
				<tr>
					<th>Naam</th>
					<th>Contactpersoon</th>
					<th>Datum</th>
					<th>Max. pers</th>
					<th>Sporten</th>
					<th></th>
					<th></th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				@foreach (var s in Model)
                {
					<div class="modal fade" id="confirm-delete_@s.EventId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">Bevestiging verwijderen van de event van: @s.Name</h4>
								</div>
								<div class="modal-body">
									<p>U probeert de event van @s.Name uit de lijst van evenementen te verwijderen.</p>
									<p>Wilt u doorgaan met het verwijderen van de event?</p>
									<p class="debug-url"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary confirm" data-dismiss="modal">Annuleer</button>
									<a class="btn btn-danger btn-ok confirm" href="@Url.Action("DeleteEvent", "Event", s)" data-target="#confirm-delete">Verwijder @s.Name</a>
								</div>
							</div>
						</div>
					</div>
					<tr>
						<td class="main-table">@s.Name</td>
						@if (s.Reservation == null)
						{
							<td class="main-table"></td>
							<td class="main-table"></td>
						}
						else
						{
							<td class="main-table">@s.Reservation.Name</td>
							<td class="main-table">@s.Reservation.DateTime</td>
						}
						<td class="main-table">@s.PeopleAmount</td>
						<td class="main-table">
							@foreach (var a in s.EventSports)
							{
								<p>@a.Sport.Type</p>
							}
						</td>
						<td class="main-table">
							<form asp-action="Invoice" asp-controller="Invoice"><button class="blue-button" type="submit">FACTUUR</button></form>
						</td>
						<td class="main-table">
							<button onclick="location.href = '@Url.Action("UpdateEvent", "Event", new EventSportViewModel{SelectedEventId = s.EventId})'" class="blue-button" type="submit">WIJZIGEN</button>
						</td>
						<td class="main-table"><a href="#" data-toggle="modal" data-target="#confirm-delete_@s.EventId"><i class="fa fa-trash fa-3x icon-blue" aria-hidden="true"></i></a></td>
					</tr>
                }

			</tbody>}
		else
		{
			<tbody>
				<tr><td>Er zijn geen evenementen.</td></tr>
			</tbody>}
	</table>
</div>